language: go

go:
  - 1.6
  - 1.7
  - master

install:
  - go get github.com/howeyc/gopass
  - go get github.com/stretchr/testify/assert
  - go get github.com/twinj/uuid
  - go get github.com/zyguan/just
